<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKj-cRMyRgfkwiYZ4uKlinoQtEMdM1VRw</string>
	<key>GCM_SENDER_ID</key>
	<string>12298786440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsbybros.minik.pingpong</string>
	<key>PROJECT_ID</key>
	<string>minikswish</string>
	<key>STORAGE_BUCKET</key>
	<string>minikswish.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12298786440:ios:bfc268456a87978e75f13d</string>
	<key>DATABASE_URL</key>
	<string>https://minikswish-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>